@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary:  mat.$green-palette,
      tertiary: mat.$yellow-palette,
    ),
    typography: 'DM Sans',
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--bg, #f0f5f3);
  color: var(--text-1, #111827);
  font-family: 'DM Sans', sans-serif;
  margin: 0;
}
